{
  "registerserver":"registry.mcurobot.com:47001",
  "agenturi":"127.0.0.1:8080",
  "agentbaseport":9990,
  "entity":{
    "role":"client",	
    "id":"1OjsQIYA/1Dq1yvSN+7ELgIf5hBPH75n09GgrlKnM14=", 
    "certificate":"-----BEGIN CERTIFICATE-----\nMIIBajCCAQ8CFG33ORPO0ETeTP4GasqGUO4NA4aEMAoGCCqGSM49BAMCMDcxNTAz\nBgNVBAMMLDFPanNRSVlBLzFEcTF5dlNOKzdFTGdJZjVoQlBINzVuMDlHZ3JsS25N\nMTQ9MB4XDTIxMDQxNTAzMTk0OFoXDTMxMDQxMzAzMTk0OFowNzE1MDMGA1UEAwws\nMU9qc1FJWUEvMURxMXl2U04rN0VMZ0lmNWhCUEg3NW4wOUdncmxLbk0xND0wWTAT\nBgcqhkjOPQIBBggqhkjOPQMBBwNCAAQEImSKlMfb6pO0HwVx/hCFn1JxOWJ7F7ls\n3aHwLQej65dtwTbx1xq7Q7fxmc7exuJVwbxiRhcljNPvtGMB88yWMAoGCCqGSM49\nBAMCA0kAMEYCIQDkpv/D4kgJR/NXATew1UqlqG8IrQv65bDJdM7+xshbxQIhAIAK\nC5Pb6K8CuvCmzirHG3f92ihkfteTZ4a0M6dgddDf\n-----END CERTIFICATE-----",
    "key":"-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEIGJ2oG4Qk8fAXy/Ooav6AUdDysVfGKeTQrNDYBgtLAkzoAoGCCqGSM49\nAwEHoUQDQgAEBCJkipTH2+qTtB8Fcf4QhZ9ScTliexe5bN2h8C0Ho+uXbcE28dca\nu0O38ZnO3sbiVcG8YkYXJYzT77RjAfPMlg==\n-----END EC PRIVATE KEY-----"	
  },
  "waitp2pconnect(s)":5,
  "waittransitconnect(s)":2,
  "adminport":"4658"	
}